<!doctype html>
<html>
  <style>
    #landline_container {
      width:95%;
      max-width:600px;
    }
    #landline_tooltip {
      position:absolute;
      background:rgba(222, 222, 222, 0.95);
      z-index:999999;
      font-family: Helvetica, Arial, sans-serif;
      font-weight:bold;
      font-size:12px;
      padding:5px;
      border-radius:2px;
      box-shadow:0 0 5px #444;
      display:none;
    }
    #landline_tooltip h2 {
      margin:0;
      padding:0;
      font-size:14px;
    }
    .tooltip_sub {
      font-size:12px;
      font-weight:normal;
      display:inline-block;
      line-height:14px;
    }
  </style>
  <!-- Bring your own copy of jQuery/Underscore/Raphael here -->
  <!-- To support IE < 9, include jQuery 1.x -->

  <!-- Load the states package -->
  <script src="public/javascripts/states/states_packaged.js"></script>

  <!-- Load Landline and Stateline -->
  <script src="public/javascripts/landline.js"></script>
  <script src="public/javascripts/landline.stateline.js"></script>
  
  <!-- Create a tooltip container -->
  <script type="text/jst" id="landline_tooltip_tmpl">
    <h2><%= n %></h2>
    <span class="tooltip_sub">
      Median income<br>
      $<%= med_income %>
      <span class='tooltip_moe'><br>± $<%= moe %></span>
    </span>
  </script>

  <!-- Census median income data, via http://censusreporter.org/data/map/?table=B06011&geo_ids=040|01000US -->
  <script>
    var census = {
	  "01": ["Alabama",32.4],
	  "02": ["Alaska",28.4],
	  "04": ["Arizona",26.8],
	  "05": ["Arkansas",34.6],
	  "06": ["California",24.1],
	  "08": ["Colorado",21.3],
	  "09": ["Connecticut",25],
	  "10": ["Delaware",31.1],
	  "11": ["District of Columbia",22.9],
	  "12": ["Florida",26.4],
	  "13": ["Georgia",30.3],
	  "66": ["Guam",27],
	  "15": ["Hawaii",21.8],
	  "16": ["Idaho",29.6],
	  "17": ["Illinois",29.4],
	  "18": ["Indiana",31.8],
	  "19": ["Iowa",31.3],
	  "20": ["Kansas",30],
	  "21": ["Kentucky",33.2],
	  "22": ["Louisiana",33.1],
	  "23": ["Maine",28.9],
	  "24": ["Maryland",28.3],
	  "25": ["Massachusetts",23.6],
	  "26": ["Michigan",31.5],
	  "27": ["Minnesota",25.5],
	  "28": ["Mississippi",35.1],
	  "29": ["Missouri",30.4],
	  "30": ["Montana",24.6],
	  "31": ["Nebraska",29.6],
	  "32": ["Nevada",26.2],
	  "33": ["New Hampshire",26.7],
	  "34": ["New Jersey",26.3],
	  "35": ["New Mexico",26.4],
	  "36": ["New York",25.4],
	  "37": ["North Carolina",29.4],
	  "38": ["North Dakota",31],
	  "39": ["Ohio",30.4],
	  "40": ["Oklahoma",32.5],
	  "41": ["Oregon",26.5],
	  "42": ["Pennsylvania",30],
	  "72": ["Puerto Rico",27.9],
	  "44": ["Rhode Island",27.3],
	  "45": ["South Carolina",31.7],
	  "46": ["South Dakota",29.9],
	  "47": ["Tennessee",33.7],
	  "48": ["Texas",30.9],
	  "49": ["Utah",24.1],
	  "50": ["Vermont",24.7],
	  "51": ["Virginia",27.2],
	  "53": ["Washington",27.2],
	  "54": ["West Virginia",35.1],
	  "55": ["Wisconsin",29.8],
	  "56": ["Wyoming",27.8]
	};
  </script>

  <body>
    <div id="landline_container"></div>
    <script>
      $(function() {
        // Initialize the map
        var map = new Landline.Stateline("#landline_container", "states");
        
        // Set up the tooltip template
        var tmpl = _.template($("#landline_tooltip_tmpl").html());

        // Add tooltips, and cache the existing style
        // to put it back in place on mouseout
        map.on('mouseover', function(e, path, data) {
          data.existingStyle = (data.existingStyle || {});
          data.existingStyle["fill"]        = path.attr("fill");
          data.existingStyle["strokeWidth"] = path.attr("stroke-width");
          path.attr("fill", "#999").attr("stroke-width", 1);
        });

        map.on('mousemove', function(e, path, data) {
          $("#landline_tooltip").html(tmpl({
              n          : data.get('n'), 
              med_income : commaDelimit(census[data.fips][1]), 
              moe        : census[data.fips][2]
            })).css("left", e.pageX + 20).css("top", e.pageY + 20).show();
        });

        map.on('mouseout', function(e, path, data) {
          $("#landline_tooltip").hide();
          _(data.existingStyle).each(function(v, k) {
            path.attr(k, v);
          });
        });

        // Census data convenience functions
        var incomeColor = function(income) {
          if (income < 23768) return "rgb(237,248,233)";
          if (income < 27329) return "rgb(186,228,179)";
          if (income < 30891) return "rgb(116,196,118)";
          if (income < 34452) return "rgb(49,163,84)";
          return "rgb(0,109,44)";
        };

        var commaDelimit = function(a){
          return _.isNumber(a) ? a.toString().replace(/(d)(?=(ddd)+(?!d))/g,"$1,") : "";
        };

        // Color states by income level
        _(census).each(function(ary, fips) {
          map.style(fips, "fill", incomeColor(ary[1]));
        })

        // Draw the map
        map.createMap();
      });
    </script>

    <div id="landline_tooltip"></div>
  </body>
</html>